* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
}

.image {
    width: 150px;
}

figcaption {
    margin-left: 10px;
    color: rgb(233, 17, 215);
}

.h1 {
    font-family: "Pacifico", Arial, sans-serif;
    color: rgb(238, 156, 156);
    font-size: 20px;
    word-spacing: 15px;
    align-items: center;
    margin-top: 60px;
    margin-left: 300px;
    font-style: italic;
    text-shadow: 5px 5px 25px rgb(148, 195, 209);

}

a:link{
    color: rgb(212, 105, 212);
}

a {
    margin-left: 130px;
    font-size: 30px;
}

.heading {
    font-family: "Pacifico", 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: linear-gradient(to top, pink, purple);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    background-color: plum;
    background: linear-gradient(left rgb(250, 176, 188) purple);
}

.main {
    display: flex;
    margin-right: 20px;
}

.one {
    background-color: lightblue;
    width: 450px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.two {
    background-color: lightpink;
    width: 450px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.three {
    background-color: rgb(221, 146, 221);
    width: 450px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

.four {
    text-align: center;
    font-size: 18px;
}

p {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 18px;
}

ul {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;
}

label {
    font-size: 20px;
    margin-left: 20px;
}

.input {
    margin-left: 20px;
    width: 300px;
    padding: 10px;
}

.checkbox {
    margin-top: 20px;
    margin-left: 100px;
}